.vis-item.example {
    background-color: rgb(204, 207, 3);
    border-color: rgb(111, 61, 175);
    color: rgb(56, 56, 56);
    font-family: monospace;
    /* box-shadow: 0 0 10px gray; */
}
.vis-item.vis-dot {
    border-radius:2px;
}
.vis-item.vis-dot.example {
    border-radius: 0px;
    border-width: 2px;
}
.vis-item.vis-line.example {
    border-width: 2px;
}
.vis-item.vis-box.example {
    border-radius: 0;
    border-width: 2px;
    font-size: 24pt;
    font-weight: bold;
}
/* .vis-item.triaged-victim {
    background-color: rgb(20, 100, 0);
    border-color: rgb(20, 100, 0);
    color: rgb(20, 100, 0);
}
.vis-item.vis-dot.triaged-victim {
    border-radius: 3px;
    border-width: 3px;
}
.vis-item.triaged-critical-victim {
    background-color: rgb(189, 223, 0);
    border-color: rgb(189, 223, 0);
    color: rgb(189, 223, 0);
}
.vis-item.vis-dot.triaged-critical-victim {
    border-radius: 5px;
    border-width: 5px;
} */
.faq {
    padding: 1.5rem;
}
details {
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.35rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
summary {
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
.faq.details.div {
    padding: 1rem 1.5rem;
}