<form action="post_general_review" method="post">
	<table class="ml-3 mb-0 table table-sm">
		<thead>
			<tr class="table-info">
				<th scope="col">Time</th>
				<th scope="col">Team Rating</th>
			</tr>
		</thead>
		<tbody>
			{% for index,interval in count %}
			<tr>
				<td style="padding-top:12px;">{{interval}}min - {{interval+3}}min:</td>
				<td><input id="input-{{ index }}-sm" name="input-{{ index }}" required class="rating-loading"
						data-step="1" data-size="sm"></td>
			</tr>
			{% endfor %}
			<tr>
				<td style="padding-top:12px;">Team Overall:</td>
				<td><input id="input-5-sm" name="input-5" required class="rating-loading" data-step="1" data-size="sm">
				</td>
			</tr>
		</tbody>
	</table>

	<hr>
	<input id="trial_name" name="trial_name" type="text" value="" style="display: none;">
	<label class="ml-4" for="name">Name:</label>
	<input class="ml-1" id="name" name="name" type="text" required>

	<hr />
	<button id="review_submit" type="submit" class="ml-3 btn btn-primary">Submit</button>&nbsp;
	<button type="reset" class="btn btn-outline-secondary">Reset</button>
</form>


<script>

	// Star functionality.
	var number_of_star_rows = 6
	$(document).ready(function () {
		for (let i = 0; i < number_of_star_rows; i++) {
			$('#input-' + i + '-sm').rating({
				clearCaption: 'No stars yet',
				step: 1,
				showCaptionAsTitle: false,
				starCaptions: {
					1: 'Bad',
					2: 'Below Average',
					3: 'Average',
					4: 'Above Average',
					5: 'Excellent'
				}
			});
		}
	});

</script>
