{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block home_scripts %}
<link href="{{ url_for('static', filename='js/video-js.7.9.5.min.css')}}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/socket.io-4.1.2/socket.io.min.js')}}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='js/dropzone.5.7.2.min.css')}}" rel="stylesheet" />
<link href="{{ url_for('static', filename='js/dropzone.basic.5.7.2.min.css')}}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/dropzone.5.7.2.min.js')}}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/vis-timeline/vis-timeline-graph2d.min.js')}}"
    type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/vis-timeline/vis-timeline-graph2d.min.css')}}"
    type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.all.min.js')}}" type="text/javascript"></script>
<!-- <script src="{{ url_for('static', filename='js/sweetalert/sweetalert.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/sweetalert/sweetalert.css')}}" type="text/javascript"></script> -->

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/visualizer.js')}}"></script>

<!-- Custom CSS-->
<link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet" />

<!-- Star rating required files-->
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all"
    rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all"
    rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"
    type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>


{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if message %}
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {%endif%}
        {% if error %}
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="row">
        <div class="col-md-auto">

            <video id="my-video" class="ml-5 mt-4 mb-1 video-js" controls preload="auto" width="680px" height="20px"
                data-setup='{ "playbackRates": [0.5, 1, 2, 4]}'>
                <source src="static/videos/30minutes.mp4" type="video/mp4" />
            </video>
            {% include 'review_general.html' %}
        </div>
            <div class="col">
                <div class="row">
                    <div class="col-1 ml-1">
                        <button type="button" class="btn btn-default px-0 py-0" aria-label="Left Align"
                            onclick="zoomIn()">
                            <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/zoom-in.svg')}}" alt=""
                                width="20" height="20">
                        </button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-default px-0 py-0" aria-label="Left Align"
                            onclick="zoomOut()">
                            <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/zoom-out.svg')}}" alt=""
                                width="20" height="20">
                        </button>
                    </div>

                    <div class="col-md-auto">
                        <div id="trial_selection" class="form-group">
                            <!-- <select name="trials" id="trials" class="form-control form-control-sm">
                                <option value="default">Upload a Trial...</option>
                            </select> -->
                        </div>
                    </div>

                    <div class="col-2">
                        <button id="trial-filter" aria-label="Center Align" onclick="setTrialListFilter()"
                            title="Filter">Filter...</button>
                        <button id="delete_selected" type="button" class="btn btn-default px-0 py-0"
                            aria-label="Center Align" onclick="deleteSelected()" title="Delete this Trial..">
                            <img src="{{ url_for('static', filename='js/bootstrap-icons-1.0.0/x-circle.svg')}}"
                                width="24" height="24">
                        </button>
                    </div>

                </div>
                <div id="trial_load_progress" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Please Wait. Loading Trial...</div>
                    </br>
                </div>
                <div id="dropzone_container">
                    <!-- <form method="POST" action='/upload' class="dropzone dz-clickable" id="dropper"
                        enctype="multipart/form-data"></form>
                    <script type="application/javascript">
                        Dropzone.options.dropper = {
                            init: function () {
                                this.on("success", function (file) { socket.emit('get_trial_list', {}, namespace = '/ihmc_replay_visualizer'); });
                            },
                            paramName: 'file',
                            chunking: true,
                            forceChunking: true,
                            url: '/upload',
                            acceptedFiles: '.mp4,.metadata',
                            maxFilesize: 4196, // megabytes
                            chunkSize: 1000000 // bytes
                        }
                    </script>
                    </br> -->
                </div>
                <div class="row">
                    <!-- <div style="overflow: auto;"> -->
                    <div class="col">
                        <div id="div_map" style="border:1px solid black;height:570px;overflow:auto;resize:vertical;max-height:1065px;"></div>
                    </div>
                </div>
                <div class="row" style="height:10px;">
                </div>
                <div class="row">
                    <label class="ml-3 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="show_path_red"
                            onclick="toggleShowPathRed()">
                        <label class="custom-control-label" for="show_path_red">Red path</label>
                    </label>

                    <label class="ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="show_path_green"
                            onclick="toggleShowPathGreen()">
                        <label class="custom-control-label" for="show_path_green">Green path</label>
                    </label>

                    <label class="ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="show_path_blue"
                            onclick="toggleShowPathBlue()">
                        <label class="custom-control-label" for="show_path_blue">Blue path</label>
                    </label>

                    <label class="ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" checked id="show_blockages"
                            onclick="toggleShowBlockages()">
                        <label class="custom-control-label" for="show_blockages">Rubble</label>
                    </label>

                    <label class="ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" checked id="show_markers"
                            onclick="toggleShowMarkers()">
                        <label class="custom-control-label" for="show_markers">Markers</label>
                    </label>

                    <label class="ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" checked id="show_victims"
                            onclick="toggleShowVictims()">
                        <label class="custom-control-label" for="show_victims">Victims</label>
                    </label>
                </div>
            </div>
        </div>
        <!-- <div class="row">
        <div class="col-2">
            <b>Annotation Timeline</b>
        </div>
    </div> -->
        <div class="row">
            <div class="col">
                <script>
                    $(document).ready(function () {
                        $('#review_ground_truth_button').click(function () {
                            $('#review_ground_truth').toggle("slide");
                        });
                    });
                    $(document).ready(function () {
                        $('#review_general_button').click(function () {
                            $('#review_general').toggle("slide");
                        });
                    });
                </script>
                <!-- <a class="mb-1 btn btn-secondary" id="review_ground_truth_button" href="#" role="button">Event-Based Review</a>
            <a class="mb-1 btn btn-info" id="review_general_button" href="#" role="button">General Review</a> 

              ----- SHOWING TOOLS -----
            <label>Role/Tool: </label>
            <img src="{{ url_for('static', filename='images/RoleKey.png')}}"></img>
            -->
            </div>
            <div class="col">
            </div>
            <div class="col-md-auto">
                <button id="refresh-timeline" aria-label="Center Align" onclick="trialSelected()"
                    title="Reload the Current Trial">Reload</button>
                <button id="refresh-timeline" aria-label="Center Align" onclick="regenerateTrial()"
                    title="Regenerate data for the Current Trial">Regenerate</button>
            </div>
        </div>
        <div id="review_ground_truth" class="mt-1 mb-2 row" style="display: none;">
            {% include 'review_ground_truth.html' %}
        </div>

        <div class="row">
            <div class="col">
                <div id="anotation-timeline"></div>
            </div>
        </div>
        <div class="row" style="height:10px;">
        </div>
        <div class="row">
            <div class="col-md-auto">
                <label><b>Annotations</b></label>
            </div>
            <div class="col-md-auto">
                <button id="filter-timeline" aria-label="Center Align" onclick="openFilterTimelineDialog()"
                    title="Open Annotation Filter Dilaog">Filters</button>
            </div>
            <div class="col-md-auto">
                <label>Types:</label>
            </div>
            <div id="css_selection" class="col-md-auto">
                <select name="css" id="css" class="form-control form-control-sm" style="width:200px;">
                    <option value="default">Select A Type...</option>
                </select>
            </div>
            <div class="col-md-auto">
                <button id="new-timeline-type" aria-label="Center Align" onclick="newTimelineType()"
                    title="Create a New Timeline Type">New</button>
                <button id="save-timeline-types" aria-label="Center Align" onclick="saveTimelineTypes()"
                    title="Save Timeline Types">Save</button>
            </div>
            <div class="col-md-auto">
                <label>Groups: </label>
            </div>
            <div id="group_selection" class="col-md-auto">
                <select name="group" id="group" class="form-control form-control-sm" style="width:200px;">
                    <option value="Teamwork">Teamwork</option>
                </select>
            </div>
            <div class="col-md-auto">
                <button id="new-timeline-group" aria-label="Center Align" onclick="newTimelineGroup()"
                    title="Create a new Timeline Group">New</button>
                <button id="delete-timeline-group" aria-label="Center Align" onclick="deleteTimelineGroup()"
                    title="Delete the Current Timeline Group">Delete</button>
                <button id="rename-timeline-group" aria-label="Center Align" onclick="renameTimelineGroup()"
                    title="Rename the Current TImeline Group">Rename</button>
                <button id="clear-timeline-group" aria-label="Center Align" onclick="clearTimelineGroup()"
                    title="Remove All Items from this Timeline Group">Clear</button>
                <button id="moveTo-timeline-group" aria-label="Center Align" onclick="moveToTimelineGroup()"
                    title="Move Selected Items to this Timeline Group">Move To</button>
            </div>
            <div class="col">
            </div>
            <div class="col-md-auto">
                <button id="save-timeline" aria-label="Center Align" onclick="saveTimelineData()" title="Save">Save
                    Group Changes</button>
                <button id="export-timeline" aria-label="Center Align" onclick="exportTimelineData()"
                    title="Save">Export</button>
            </div>
        </div>
        <div class="row" style="height:5px;">
        </div>
        <div class="row">
            <div class="col">
                <b>Auto Speech Recognition</b>
                <button id="filter-asr" aria-label="Center Align" onclick="openFilterASRDialog()"
                    title="Open ASR Filter Dilaog">Filters</button>
            </div>
        </div>
        <div class="row" style="height:5px;">
        </div>
        <div class="row">
            <div class="col">
                <!-- <div class="border" id="asr" style="width:680px;"> -->
                <div class="border" id="asr">
                    <b>Red - </b>This is Red. I'm Frozen!! what should I do? This is scarry!!!!<br>
                    <b>Blue - </b>This is Blue. Again??<br>
                    <b>Green - </b>This is Green. Yep he did it again!!<br>
                </div>
            </div>
        </div>
        <!-- <div style="height: 100%; float: left;">
        <table>
            <tr>
                <th>Testing</th>
            </tr>
            <tr>
                <td>1</td>
            </tr>
        </table>
    </div> -->
    </div>
    {% endblock %}
    {% block end_body_scripts %}
    <script src="{{ url_for('static', filename='js/video-js.7.9.5.min.js')}}"></script>
    <script>videojs("my-video", {
            controlBar: {
                fullscreenToggle: false
            }
        });
    </script>
    {% endblock %}
