<script>
    function medic() {
        $("#app-form1").submit(function( event ) {
          event.preventDefault();
          addGroundTruth($( this ).serializeArray());
          // console.log( $( this ).serializeArray() );
          this.reset();
        });
    }

    function transporter() {
        $("#app-form2").submit(function( event ) {
          event.preventDefault();
          addGroundTruth($( this ).serializeArray());
          // console.log( $( this ).serializeArray() );
          this.reset();
        });
    }

    function rubbler() {
        $("#app-form3").submit(function( event ) {
          event.preventDefault();
          addGroundTruth($( this ).serializeArray());
          // console.log( $( this ).serializeArray() );
          this.reset();
        });
    }
</script>
<div class="col">
  <form id="app-form1">
      <table class="mb-0 table table-sm">
          <thead>
              <tr class="table-danger">
                  <th scope="col">Medic - Categories</th>
                  <th scope="col"></th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Competence</td>
                  <td><input class="form-check-input" type="radio" value="competence"  name="category" /></td>
                  <td>Really Good</td>
                  <td><input class="form-check-input" type="radio" value="really good"  name="quantity" /></td>
              </tr>
              <tr>
                  <td>Coordination</td>
                  <td><input class="form-check-input" type="radio" value="coordination"  name="category" /></td>
                  <td>Good</td>
                  <td><input class="form-check-input" type="radio" value="good"  name="quantity" /></td>
              </tr>
              <tr>
                  <td>Priority</td>
                  <td><input class="form-check-input" type="radio" value="priority"  name="category" /></td>
                  <td>Bad</td>
                  <td><input class="form-check-input" type="radio" value="bad"  name="quantity" /></td>
              </tr>
          </tbody>
      </table>
      <div class="row justify-content-center">
        <input name="player" value="medic" style="display: none;"/>
        <input class="mt-1 btn btn-secondary" id="submit-app" type="submit" name="submit" value="Submit" onclick="medic()">
      </div>
  </form>
</div>
<div class="col">
    <form id="app-form2">
      <table class="mb-0 table table-sm">
          <thead>
              <tr class="table-success">
                  <th scope="col">Transporter - Categories</th>
                  <th scope="col"></th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <td>Competence</td>
                <td><input class="form-check-input" type="radio" value="competence"  name="category" /></td>
                <td>Really Good</td>
                <td><input class="form-check-input" type="radio" value="really good"  name="quantity" /></td>
            </tr>
            <tr>
                <td>Coordination</td>
                <td><input class="form-check-input" type="radio" value="coordination"  name="category" /></td>
                <td>Good</td>
                <td><input class="form-check-input" type="radio" value="good"  name="quantity" /></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><input class="form-check-input" type="radio" value="priority"  name="category" /></td>
                <td>Bad</td>
                <td><input class="form-check-input" type="radio" value="bad"  name="quantity" /></td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">
      <input name="player" value="transporter" style="display: none;"/>
      <input class="mt-1 btn btn-secondary" id="submit-app" type="submit" name="submit" value="Submit" onclick="transporter()">
    </div>
</form>
</div>
<div class="col">
    <form id="app-form3">
      <table class="mb-0 table table-sm">
          <thead>
              <tr class="table-primary">
                  <th scope="col">Rubbler - Categories</th>
                  <th scope="col"></th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <td>Competence</td>
                <td><input class="form-check-input" type="radio" value="competence"  name="category" /></td>
                <td>Really Good</td>
                <td><input class="form-check-input" type="radio" value="really good"  name="quantity" /></td>
            </tr>
            <tr>
                <td>Coordination</td>
                <td><input class="form-check-input" type="radio" value="coordination"  name="category" /></td>
                <td>Good</td>
                <td><input class="form-check-input" type="radio" value="good"  name="quantity" /></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><input class="form-check-input" type="radio" value="priority"  name="category" /></td>
                <td>Bad</td>
                <td><input class="form-check-input" type="radio" value="bad"  name="quantity" /></td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">
      <input name="player" value="rubbler" style="display: none;"/>
      <input class="mt-1 btn btn-secondary" id="submit-app" type="submit" name="submit" value="Submit" onclick="rubbler()">
    </div>
</form>
</div>

