<div id="stats_v4">
    <table class="table table-sm" style="width:500px">
        <!-- <thead class="thead-sm">
            <tr>
                <th class="th-sm" style="width: 20%">Mission</th>
                <th style="width: 20%">Time</th>
                <th style="width: 8%">Score</th>
            </tr>
        </thead> -->
        <tbody class="tbody-sm">
            <tr>
                <td class='td-sm'><small><b>Mission:</b></small></td>
                <td class="td-sm" id="mission_name_v4"><small>UNKNOWN</small></td>
                <td class='td-sm'><small><b>Score:</b></small></td>
                <td id="mission_score_v4"><small>0</small></td>
            </tr>
            <tr>
                <td class='td-sm'><small><b>Trial Time:</b></small></td>
                <td id="trial_timer_v4"><small>??:??</small></td>
                <td class='td-sm'><small><b>Mission Time:</b></small></td>
                <td id="mission_timer_v4"><small>??:??</small></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <thead class="thead-sm">
            <tr>
                <th class="th-sm" style="width: 6%" title="Player Callsign"><small><b>CS</b></small></th>
                <th style="width: 10%" title="Player State (frozen, ...)"><small><b>State</b></small></th>
                <th style="width: 6%" title="Part of Score attributed to this player"><small><b>Scr</b></small></th>
                <th style="width: 10%" title="Health"><small><b>Health</b></small></th>
                <th style="width: 8%" title="PPE"><small><b>PPE</b></small></th>
                <th style="width: 40%" title="Players current location"><small><b>Location</b></small></th>
            </tr>
        </thead>
        <tbody class="tbody-sm">
            <tr>
                <td class="td-sm"><small>Alpha</small></td>
                <td id="m_A_st_v4"><small></small></td>
                <td id="m_A_sc_v4"><small>0</small></td>
                <td id="m_A_hlth_v4"><small>20/20</small></td>
                <td id="m_A_ppe_v4"><small></small></td>
                <td id="m_A_loc_v4"><small>UNKNOWN</small></td>
            </tr>
            <tr>
                <td class="td-sm"><small>Bravo</small></td>
                <td id="m_B_st_v4"><small></small></td>
                <td id="m_B_sc_v4"><small>0</small></td>
                <td id="m_B_hlth_v4"><small>20/20</small></td>
                <td id="m_B_ppe_v4"><small></small></td>
                <td id="m_B_loc_v4"><small>UNKNOWN</small></td>
            </tr>
            <tr>
                <td class="td-sm"><small>Delta</small></td>
                <td id="m_D_st_v4"><small></small></td>
                <td id="m_D_sc_v4"><small>0</small></td>
                <td id="m_D_hlth_v4"><small>20/20</small></td>
                <td id="m_D_ppe_v4"><small></small></td>
                <td id="m_D_loc_v4"><small>UNKNOWN</small></td>
            </tr>
        </tbody>
    </table>
</div>