<div id="stats_pre_v4">
    <table class="table table-sm" style="width:500px">
        <!-- <thead class="thead-sm">
            <tr>
                <th class="th-sm" style="width: 20%">Mission</th>
                <th style="width: 20%">Time</th>
                <th style="width: 8%">Score</th>
            </tr>
        </thead> -->
        <tbody class="tbody-sm">
            <tr>
                <td class='td-sm'><small><b>Mission:</b></small></td>
                <td class="td-sm" id="mission_name"><small>UNKNOWN</small></td>
                <td class='td-sm'><small><b>Time:</b></small></td>
                <td id="mission_timer"><small>??:??</small></td>
                <td class='td-sm'><small><b>Score:</b></small></td>
                <td id="mission_score"><small>0</small></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <thead class="thead-sm">
            <tr>
                <th class="th-sm" style="width: 6%" title="Player Callsign"><small><b>CS</b></small></th>
                <th style="width: 10%" title="Player State (carrying, triaging...)"><small><b>State</b></small></th>
                <th style="width: 6%" title="Part of Score attributed to this player"><small><b>Scr</b></small></th>
                <th style="width: 8%" title="Players Role"><small><b>Role</b></small></th>
                <th style="width: 6%" title="Tool Percentage left"><small><b>%</b></small></th>
                <th style="width: 4%" title="# Rubble Cleared"><small><b>RB</b></small></th>
                <th style="width: 4%" title="# Victims Moved"><small><b>VM</b></small></th>
                <th style="width: 4%" title="# Regular Victims Triaged"><small><b>RT</b></small></th>
                <th style="width: 4%" title="# Regular Victims Evacuated"><small><b>RE</b></small></th>
                <th style="width: 4%" title="# Critical Victims Triaged"><small><b>CT</b></small></th>
                <th style="width: 4%" title="# Critical Victims Evacuated"><small><b>CE</b></small></th>
                <th style="width: 4%" title="# Victims Incorrectly Evacuated"><small><b>IE</b></small></th>
                <th style="width: 4%" title="# Evacuation Corrections"><small><b>EC</b></small></th>
                <th style="width: 40%" title="Players current location"><small><b>Location</b></small></th>
            </tr>
        </thead>
        <tbody class="tbody-sm">
            <tr>
                <td class="td-sm"><small>Red</small></td>
                <td id="m_R_st"><small></small></td>
                <td id="m_R_sc"><small>0</small></td>
                <td id="m_R_rl"><small>NONE</small></td>
                <td id="m_R_tl"><small>0.0</small></td>
                <td id="m_R_rb"><small>0</small></td>
                <td id="m_R_mv"><small>0</small></td>
                <td id="m_R_nv"><small>0</small></td>
                <td id="m_R_ne"><small>0</small></td>
                <td id="m_R_cv"><small>0</small></td>
                <td id="m_R_ce"><small>0</small></td>
                <td id="m_R_ie"><small>0</small></td>
                <td id="m_R_ec"><small>0</small></td>
                <td id="m_R_loc"><small>UNKNOWN</small></td>
            </tr>
            <tr>
                <td class="td-sm"><small>Green</small></td>
                <td id="m_G_st"><small></small></td>
                <td id="m_G_sc"><small>0</small></td>
                <td id="m_G_rl"><small>NONE</small></td>
                <td id="m_G_tl"><small>0.0</small></td>
                <td id="m_G_rb"><small>0</small></td>
                <td id="m_G_mv"><small>0</small></td>
                <td id="m_G_nv"><small>0</small></td>
                <td id="m_G_ne"><small>0</small></td>
                <td id="m_G_cv"><small>0</small></td>
                <td id="m_G_ce"><small>0</small></td>
                <td id="m_G_ie"><small>0</small></td>
                <td id="m_G_ec"><small>0</small></td>
                <td id="m_G_loc"><small>UNKNOWN</small></td>
            </tr>
            <tr>
                <td class="td-sm"><small>Blue</small></td>
                <td id="m_B_st"><small></small></td>
                <td id="m_B_sc"><small>0</small></td>
                <td id="m_B_rl"><small>NONE</small></td>
                <td id="m_B_tl"><small>0.0</small></td>
                <td id="m_B_rb"><small>0</small></td>
                <td id="m_B_mv"><small>0</small></td>
                <td id="m_B_nv"><small>0</small></td>
                <td id="m_B_ne"><small>0</small></td>
                <td id="m_B_cv"><small>0</small></td>
                <td id="m_B_ce"><small>0</small></td>
                <td id="m_B_ie"><small>0</small></td>
                <td id="m_B_ec"><small>0</small></td>
                <td id="m_B_loc"><small>UNKNOWN</small></td>
            </tr>
        </tbody>
    </table>
</div>